body{font-family: sans-serif;
    margin:auto; 
    background-color:ivory;}
h1{text-align:center;
text-decoration:underline;}

#topbox{text-align: center;
   border-style:ridge;
    padding-left: auto; 
    padding-right: auto;}
#objective{text-align: center;}
#bottombox{text-align: center;}
li{font-weight: bold;}
.daterange{font-family:'Courier New', Courier, monospace;
font-style:italic;}