body{font-family: sans-serif;
    margin:auto; 
    background-color:ivory;}
h1{text-align:center;
text-decoration:underline;}

#topbox{text-align: center;
   border-style:ridge;
    padding-left: auto; 
    padding-right: auto;}
